@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

$textoNavbar: black;

p {
  font-family: "comic";
     font-size: 25px;
     text-align: justify;

}

h2, h3 {
  font-family: "comic";
  font-weight: bold;
}

nav {

    div {

        background-color: springgreen;
    }



}
/*aquí comienza estilos del menu de inicio*/

.textoNavbar {
  color: $textoNavbar;
}

.navbar-nav {
  a:hover {
    background-color: rgba(138, 239, 100, 255);

    background-color: grey;
  }
}

.nav-link {
  color: black;
  font-size: 20px;
}

/*aquí termina estilos del menu de inicio*/

/*aquí comienza parrafo de presentación*/

.parrafoinicial {
  margin-left: 90px;
  margin-right: 90px;
}

/*aquí termina parrafo de presentación*/

/*aquí comienza fila 1*/

.tituloClasesparticulares {
  text-align: center;
}

.grilla1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 450px;

  .imagenClasesparticulares {
    padding: 10px;
    background-image: url(Assets/chica\ recibiendo\ clase\ online\ 2.jpg);
    background-size: cover;
    background-position: center;

    border-radius: 50px;
    margin-left: 50px;
    
  }

  .textoClasesparticulares {
    display: flex;
    justify-content: center;
    align-items: center;
    p {

        text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
    }
    
  }
  


}

/*aquí termina fila 1*/

/*Aquí comienza fila 2*/



.tituloResumenes {
  text-align: center;
}

.grilla2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 450px;

  .imagenResumenes {
    background-image: url(Assets/imagen\ nueva\ resumenes.jpg);
    background-size: cover;
    background-position: center;
   
    border-radius: 50px;
    margin-right: 50px;
  }

  .textoResumenes {
    display: flex;
    justify-content: center;
    align-items: center;
    p {

        text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
    }
    
  }
}

/*Aquí termina fila 2*/

/*Aquí comienza fila 3*/

.tituloGuias {
    text-align: center;
  }
  
  .grilla3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px;
  
    .imagenGuias {
      background-image: url(Assets/imagen\ para\ guías.jpg);
      background-size: cover;
      background-position: center;

    border-radius: 50px;
    margin-left: 50px;
    }
  
    .textoGuias {
      display: flex;
      justify-content: center;
      align-items: center;

      p {

text-align: justify;
margin-left: 20px;
margin-right: 20px;

      }
      
    }
  }


/*Aquí termina fila 3*/

/*Aquí comienza fila 4*/

.tituloContactos {
    text-align: center;
  }
  
  .grilla4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px;
  
    .imagenContactos {
      background-image: url(Assets/Imagen\ contactos.jpg);
      background-size: cover;
      background-position: center;

    margin-right: 50px;
    border-radius: 50px;
   


    }
  
    .textoContactos {
      display: flex;
      justify-content: center;
      align-items: center;
     
      p {

        text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
    
    }
      
    }
  }


/*Aquí termina fila 4*/


/*Aquí comienza footer*/

 .textoFooter {

text-align: center;

 }
/*Aquí termina footer*/

.grillaResumenes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-gap: 15px;

  div {
    p {
      font-size: 30px;
    }
  }
}




/*Inician mediaqueries*/

@media only screen and (min-width: 320px) and (max-width: 760px){




.grilla1 {
  grid-template-columns: 1fr;
  grid-template-rows: 450px 1fr;

}

.grilla2 {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 450px;

}

.grilla3 {
  grid-template-columns: 1fr;
  grid-template-rows: 450px 1fr;

}

.grilla4 {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 450px;

}


.grillaResumenes {

grid-template-columns: 1fr;

}

}


@media only screen and (min-width: 760px) and (max-width: 1020px) {

.grillaResumenes {

grid-template-columns: 1fr 1fr;




}



}




/*Terminan mediaqueries*/


.grillaResumenes {

p {

  text-align: center;

}

}








a {
  box-shadow: 0 5px 26px 8px rgb(0, 0, 0, 0.27);
}

.comprar {
  text-align: center;
padding: 10px;
  a:hover {
    background-color: grey;
  }

  a {
    background-color: rgba(138, 239, 100, 255);
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    font-size: 20px;
  }
}

.comprar {

  transform: scale(1);
  transition: all 1.5s;

}

.comprar:hover {

transform: scale(1.2);

}



.resumen2 {
  p {
    font-size: 25px;
  }

  text-align: center;
  margin-left: 20px;
}

.guia {
  font-size: 35px;
}



.item {
  text-align: center;

  img {
    border-radius: 50px;
  }

  p {
    margin-left: 130px;
    margin-right: 130px;
    text-align: justify;
    font-size: 20px;
  }
}



.precio {
  img {
    border-radius: 25px;

    border: 4px solid black;
  }

  p {
    font-size: 25px;
  }

  text-align: center;

  a:hover {
    background-color: grey;
  }

  a {
    background-color: rgba(138, 239, 100, 255);
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    font-size: 20px;
  }
}

.textoResumenes {
  p {
    text-align: center;
  }
}

.guia {
  text-align: center;

  p {
    font-size: 20px;
  }

  a:hover {
    background-color: grey;
  }

  a {
    background-color: rgba(138, 239, 100, 255);
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    font-size: 20px;
  }
}

.presentacionguias {
  margin-left: 90px;
  margin-right: 90px;
}



.enviarContacto {
  text-align: center;
}

.navbar-nav {
  margin-right: 100px;
}

.textoBarra {
  background-color: rgba(138, 239, 100, 255);
  align-content: center;
}

.navbar-nav {
  margin-left: 300px;
}

.enviarContacto {
  a {
    background-color: rgba(138, 239, 100, 255);
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    font-size: 20px;
  }

  a:hover {
    background-color: grey;
  }
}

.presentacionContactos {
  margin-left: 60px;
  margin-right: 60px;
}

.cajaTexto {
  text-align: center;
}

.textoNavbar {
  box-shadow: none;
}

/*Inicia formulario de contacto*/

.formulario {
max-width: 800px;
margin-left: auto;
margin-right: auto;
padding: 0 1.5em;

border: 3px solid black;
border-radius: 20px;
box-shadow: 0 0 20px 0 grey;

}

.informacion-contacto {
 
.espiral {
text-align: center;

}

h4 {

  text-align: center;
}




}

input {

width: 260px;

}


/*Fin formulario de contacto*/



/*Inicio Footer*/

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}

/*Fin Footer*/
